
.Register .create-Account form button::before,
.Register .create-Account form  button::after{
    position: absolute;
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    color: #CB927A;
    background-color: transparent;
    border: 1px solid #CB927A;
    right: -5px;
    bottom: -5px;
}

.Register .create-Account form  button:hover::before,
.Register .create-Account form button:hover::after{
    opacity: 0;
    transition: 0.5s;
}   



@media (max-width:768px) {
    .Login{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
    .Login h3{
        font-size:26px;
    }
    .Login form{
        display: flex;
        align-items: start;
        justify-content: start;
        padding: 30px;
    }
    .Login form input{
        width: 300px;
    }
}


@media (max-width:768px) {
    .Register{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      margin-top: 30%;
    }
    .Register h3{
        font-size:26px;
    }
    .Register form{
        display: flex;
        align-items: start;
        justify-content: start;
        padding: 30px;
    }
    .Register form input{
        width: 300px;
    }
}