.Hero .left-side h1 , h3{
    font-family: "Prata", serif;
}

.Hero .right-side .navigate-button button:hover {
    background-color: #CB927A;
    color: white;
    transition: 0.9s;
}

.Hero .left-side .content button::before,
.Hero .left-side .content button::after{
    position: absolute;
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    color: #CB927A;
    background-color: transparent;
    border: 1px solid #CB927A;
    right: -5px;
    bottom: -5px;
}

.Hero .left-side .content button:hover::before,
.Hero .left-side .content button:hover::after{
    opacity: 0;
    transition: 0.5s;
}   


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease forwards;
}



@media (max-width:768px) {
  .Hero{
    height: auto;
    min-height: 100vh;
    width: 100%;
    position: relative;
  }
  .Hero .navigate-button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    left: 20px;
    transform: translateY(130%);
  }
  .Hero .navigate-button button{
   width: 60px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .Hero img{
    height: 100vh;
    width: 100%;
  }
  
  .Hero .hero-section{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  
  }
  .Hero .hero-section .left-side {
    height: auto;
    width: 100%;
  }
  .Hero .hero-section .left-side .content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
    line-height: 0.5;
  }
  .Hero .hero-section .left-side .content h1{
    font-size: 26px;
  }
  .Hero .hero-section .left-side .content h3{
    margin-top: 380px;
  }

  .Hero .hero-section .right-side{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-top: 400px;
  }
  .Hero .hero-section .right-side img{
    height: 400px;
    width: 300px;
    position: absolute;
    bottom: 0;
  }
}