.social-icons span:hover{
    color: black;
    transition: 0.9s;
}

.shop-dropdown{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.35s cubic-bezier(.25,.46,.45,.94);
}

.shop-wrapper:hover .shop-dropdown{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.page-dropdown{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.35s cubic-bezier(.25,.46,.45,.94);
}

.page-wrapper:hover .page-dropdown{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.blog-dropdown{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.35s cubic-bezier(.25,.46,.45,.94);
}

.blog-wrapper:hover .blog-dropdown{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.other-dropdown{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.35s cubic-bezier(.25,.46,.45,.94);
}

.other-wrapper:hover .other-dropdown{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.single-dropdown{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.35s cubic-bezier(.25,.46,.45,.94);
}

.single-wrapper:hover .single-dropdown{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}



@media (max-width: 768px) {
  .top-bar {
    flex-direction: column !important;
    gap: 10px !important;
    text-align: center;
  }
}
.shop-dropdown {
  max-width: 100%;
  left: 0 !important;
}


/* Top bar */
@media (max-width:768px) {
   .main {
  position: relative;
  width: 100%;
}
    .top-bar{
        width: 100%;
        height: 25%;
        gap: 10px;
    }
}

/* Navbar */
@media (max-width:768px) {
    .Navbar{
        width: auto;
        max-width: 100%;
        background-color: white;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }

    .Navbar .logo{
      transform: scale(100%);
    }

    .Navbar .right-side-icons{
        display: none;
    }

    .Navbar .responsive-icons{
        visibility: visible;
    }
}


/* .Navbar .responsive-icons .responsive-navbar a::after,
.Navbar .responsive-icons .responsive-navbar a::before{
    position: absolute;
    display: block;
    content: '';
    height: 0.2px;
    width: 290px;
    bottom: -5px;
    left: 0;
    background-color: black;
    opacity: 0.09;
} */