
.gallary button::before,
.gallary button::after{
    position: absolute;
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    color: #CB927A;
    background-color: transparent;
    border: 1px solid #CB927A;
    right: -5px;
    bottom: -5px;
}

.gallary button:hover::before,
.gallary button:hover::after{
    opacity: 0;
    transition: 0.5s;
}   


@media (max-width:768px) {
    .gallary{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }

    .gallary h3{
        font-size: 30px;
    }

    .gallary .heading{
        width: 100%;
        font-size: 20px;
    }

    .gallary .cards{
        display: grid;
       grid-template-columns: repeat(2, 1fr);
    }
}