/* Image Hover Zoom */
.Explore-cards img:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}

/* IMPORTANT — button ko relative banana jaruri */
.right-collection .content button{
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* underline initial state */
.right-collection .content button::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    height: 1px;              /* 0.2px hata diya */
    width: 0%;
    background-color: black;
    transition: all 0.5s ease-out;
}

/* PARENT HOVER → CHILD ANIMATION */
.right-collection .content:hover button::after{
    width: 100%;
    transform: translateY(4px);
}


@media (max-width:768px) {
    .Explore-Collection{
        padding: 10px;
        height: auto;
        width: 100%;
        margin-top: 50px;
    }
    .Explore-Collection h3{
        font-size: 26px;
        margin-top: 20px;
    }
    .Explore-Collection .explore-section{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-collection{
        height: auto;
        width: 100%;
        padding: 10px;
    }
    .right-collection{
        height: auto;
        width: 100%;
    }
    .right-collection img{
        position: relative;
    }
    .right-collection .content{
     position: absolute;
     bottom: 10px;
     left: 160px;
     width: 200px;
     gap: 2px;
     height: 100px;
     padding: 2px;
    }
}
/* Bottom Card */
@media (max-width:768px) {
    .bottom-card{
        display: flex;
        flex-direction: column;
        max-width: 400px;
        padding: 10px;
        margin: 0px;
    }
    .bottom-card .img-container{
        width: 100%;
    }
}