.feature-card img:hover{
    transform: scale(110%);
    transition: 0.5s;
}

.navigate-button button:hover{
 background-color:#CC9078;   
 color: white;
 transition: 0.5s;
}
.new-ribbon{
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:0;
  border-top:70px solid #CC9078;
  border-right:70px solid transparent;
  z-index:20;
}

.new-ribbon span{
  position:absolute;
  top:-58px;
  left:-20px;
  transform:rotate(-45deg);
  color:white;
  font-size:14px;
  font-weight:500;
  width:80px;
  text-align:center;
  pointer-events:none;
}

@media (max-width:768px) {
  .featured-products{
    display: flex;
    align-items: start;
    transform: translateY(-20%);
    padding: 2px;
    margin-top: 20px;
  }
  .featured-products h3{
    font-size: 30px;
    padding-left: 15px;
  }
 .feature-card{
    width: 400px;
    max-width: 400px;
    margin: 0 auto;
    height: 700px;
  }
  .feature-card img{
    height: 400px;
    width: 1005;
     transform: scale(100%);
    }
 
  .featured-content p{
    font-size: 30px;
    position: absolute;
    bottom: 35%;
  }
  .featured-content h3{
    position: absolute;
    bottom: 30%;
    font-size: 24px;
    padding: 0px;
  }
  .featured-content p1{
    font-size: 22px;
    position: absolute;
    bottom: 25%;
  }
  .navigate-button{
    position: absolute;
    bottom: 8%;
    left: 20%;
  }
}